<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
			<%= gravatar_for @user %> <!--left off the parentheses as a matter of style in views -->
			<%= @user.name %>
		</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%=link_to user_path(@user), @user %> <!-- rails knows to look for the ID here -->
		</td>
	</tr>
</table>
